{% extends 'crudapp/base_generic.html' %}

{% block title %}<h1>Estatísticas</h1>{% endblock %}

{% block body %}
    <ul>
        <p>{{media}}</p>
         <table>
            <tr>
                <th>Link da Música</th>
                <th>Nota</th>
            </tr>
        {% for music in music_list %}
            <tr>
                <td align="center">{{ music.band_link }}</td>
                <td align="center">{{ music.rating }}</td>
            </tr>
        {% endfor %}
         </table>
    </ul>
{% endblock %}