{% extends 'crudapp/form_user.html' %}

{% block title %}<h1>Página de {{ user.nome }}</h1>{% endblock %}

{% block style %}
    <style>
         table, th, td {
            border: 1px solid black;
         }
    </style>
{% endblock %}

{% block more_options %}

    <h3>Filmes adicionados</h3>
    {% if movie_list %}
        <table>
            <tr>
                <th>Link do Filme</th>
                <th>Nota</th>
            </tr>
        {% for movie in movie_list %}
            <tr>
                <td align="center">{{ movie.movie_link }}</td>
                <td align="center">{{ movie.rating }}</td>
            </tr>
        {% endfor %}
         </table>
    {% else %}
        <p>Você não adicionou filmes.</p>
    {% endif %}
    <br>
    <form action="{% url 'crudapp:add_movie_page' user.pk %}">
        <button type="submit">Adicionar Filme</button>
	</form>

    <h3>Músicas adicionadas</h3>
    {% if music_list %}
        <table>
            <tr>
                <th>Link da Música</th>
                <th>Nota</th>
            </tr>
        {% for music in music_list %}
            <tr>
                <td align="center">{{ music.band_link }}</td>
                <td align="center">{{ music.rating }}</td>
            </tr>
        {% endfor %}
         </table>
    {% else %}
        <p>Você não adicionou músicas.</p>
    {% endif %}
    <br>
    <form action="{% url 'crudapp:add_music_page' user.pk %}">
        <button type="submit">Adicionar Música</button>
	</form>
    <br>

    <form action="{% url 'crudapp:add_friend_page' user.pk %}">
        <button type="submit">Adicionar Amigo</button>
	</form>
    <br>

    <form action="{% url 'crudapp:delete_user_page' user.pk %}">
        <button type="submit">Deletar Usuário</button>
	</form>
    <br>

{% endblock %}

{% block voltar %}
    <form action="{% url 'crudapp:user_list_page' %}">
        <button type="submit">Voltar</button>
    </form>
{% endblock %}