{% extends 'crudapp/base_generic.html' %}

{% block title %}<h1>CRUD</h1>{% endblock %}

{% block body %}
    <ul>
        <li><a href="{% url 'crudapp:user_list_page' %}">Usuários na Rede</a></li>
        <li><a href="{% url 'crudapp:new_user_page' %}">Cadastrar Usuário</a></li>
        <li><a href ="{% url 'crudapp:data' %}">Estatísticas</a></li>
    </ul>
{% endblock %}