{% extends 'crudapp/base_generic.html' %}

{% block title %}<h1>Adicionar Filme</h1>{% endblock %}

{% block body %}

    <p>Adicionando filmes para o usuário: {{ user.nome }}</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enviar" />
    </form>

    <form action="{% url 'crudapp:edit_user_page' user.pk %}">
        <button type="submit">Voltar</button>
    </form>

{% endblock %}