{% extends 'crudapp/base_generic.html' %}

{% block title %}<h1>Médias e desvios padrão</h1>{% endblock %}

{% block body %}


<br><br>
Média das avaliações dos artistas: {{notas_music}} <br>
Desvio padrão das avaliações dos artistas: {{desvio_music}} <br>
Média das avaliações dos filmes: {{notas_films}} <br>
Desvio padrão das avaliações dos filmes: {{desvio_films}} <br>


    <form action="{% url 'crudapp:statistics_page' %}">
        <button type="submit">Voltar</button>
	</form>
</div>



{% endblock %}