<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}CRUD{% endblock %}</title>

    <style>

    .error_message {
        color: red;
        font-weight: bold;
    }

    </style>

    {% block style %}
    {% endblock %}

    {% block script %}
    {% endblock %}

    {% block head %}
    {% endblock %}

</head>
<body>

{% block title %}{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <li class="error_message">{{ message }}</li>
        {% else %}
            <li>{{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% block body %}
{% endblock %}
</body>
</html>