{% extends 'crudapp/base_generic.html' %}

{% block title %}<h1>CRUD</h1>{% endblock %}

{% block body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enviar" />
    </form>

    {% block more_options %}
    {% endblock %}

    {% block voltar %}
        <form action="{% url 'crudapp:main_page' %}">
            <button type="submit">Voltar</button>
        </form>
    {% endblock %}
{% endblock %}



