{% extends 'crudapp/base_generic.html' %}

{% block title %}<h1>Gráfico 2</h1>{% endblock %}

{% block body %}

    <img src="data:image/png;base64,{{ img }}" />


    <form action="{% url 'crudapp:statistics_page' %}">
        <button type="submit">Voltar</button>
	</form>

{% endblock %}