{% extends 'crudapp/base_generic.html' %}
{% block title %}<h1>Adicionar Amigos</h1>{% endblock %}

{% block body %}

    <p>Adicionando amigos para o usuário: {{ user.nome }}</p>

    <h3>Amigos</h3>
    <ul>
    {% for friend in friends %}
        <li>{{ friend.nome }} ({{ friend.link }})</li>
    {% empty %}
        <li>Você não tem amigos</li>
    {% endfor %}
    </ul>

    <h3>Outros Usuários</h3> <p>(clique para adicionar)</p>
    <ul>
    {% for other_user in not_friends %}
        <li><a href="{% url 'crudapp:add_friend' user.pk other_user.pk %}">{{ other_user.nome }} ({{ other_user.link }})</a></li>
    {% empty %}
        <li>Você é amigo de todas as pessoas cadastradas na rede</li>
    {% endfor %}
    </ul>

    <form action="{% url 'crudapp:edit_user_page' user.pk %}">
        <button type="submit" class="btn btn-dark">Voltar</button>
    </form>

{% endblock %}