<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'crudapp/crudapp.css' %}">
    <meta charset="UTF-8">


    <title>{% block page_title %}CRUD{% endblock %}</title>

    <style>

    .error_message {
        color: red;
        font-weight: bold;
    }

    </style>

    {% block style %}
    {% endblock %}

    {% block script %}
    {% endblock %}

    {% block head %}
    {% endblock %}

</head>
<body>

{% block title %}{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <li class="error_message">{{ message }}</li>
        {% else %}
            <li>{{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

{% block body %}
{% endblock %}
</body>
</html>