{% extends 'crudapp/form_user.html' %}

{% block title %}<h1>Página de {{ user.nome }}</h1>{% endblock %}

{% block style %}
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>
{% endblock %}

{% block more_options %}
<div class="row">
    <div class="col-sm-4">
        <h3>Filmes adicionados</h3>
        {% if movie_list %}
        <table id="tb_movies">
            <tr>
                <th>Link do Filme</th>
                <th>Nota</th>
            </tr>
            {% for movie in movie_list %}
            <tr>
                <td align="center">{{ movie.movie_link }}</td>
                <td align="center">{{ movie.rating }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Você não adicionou filmes.</p>
        {% endif %}
        <br>
        <form action="{% url 'crudapp:add_movie_page' user.pk %}">
            <button type="submit" class="btn btn-light">Adicionar Filme</button>
        </form>
    </div>
    <div class="col-sm-4">
        <h3>Músicas adicionadas</h3>
        {% if music_list %}
        <table id="tb_music">
            <tr>
                <th>Link da Música</th>
                <th>Nota</th>
            </tr>
            {% for music in music_list %}
            <tr>
                <td align="center">{{ music.band_link }}</td>
                <td align="center">{{ music.rating }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Você não adicionou músicas.</p>
        {% endif %}
        <br>
        <form action="{% url 'crudapp:add_music_page' user.pk %}">
            <button type="submit" class="btn btn-light">Adicionar Música</button>
        </form>
        <br>
    </div>
</div>
<br>
<form action="{% url 'crudapp:add_friend_page' user.pk %}">
    <button type="submit" class="btn btn-light">Adicionar Amigo</button>
</form>
<br>

<form action="{% url 'crudapp:delete_user_page' user.pk %}">
    <button type="submit"class="btn btn-light">Deletar Usuário</button>
</form>
<br>

</form action="{% url 'crudapp:add_movie_page' user.pk %}">

</form>

{% endblock %}

{% block voltar %}
<form action="{% url 'crudapp:user_list_page' %}">
    <button type="submit" class="btn btn-dark">Voltar</button>
</form>
{% endblock %}