{% extends 'crudapp/base_generic.html' %}

{% block title %}
<div class="page-header">
    <h1>CRUD</h1>
</div>
{% endblock %}


{% block body %}
    <div id="options">
        <ul>
            <li><a href="{% url 'crudapp:user_list_page' %}">Usuários na Rede</a></li>
            <li><a href="{% url 'crudapp:new_user_page' %}">Cadastrar Usuário</a></li>
            <li><a href="{% url 'crudapp:statistics_page' %}">Estatísticas da Rede</a></li>
         </ul>
    </div>
{% endblock %}