{% extends 'crudapp/base_generic.html' %}

{% block title %}<h1>Popularidade</h1>{% endblock %}

{% block body %}

<p>Artistas mais populares:</p>
    <ul>
    {% for item in populares_musica %}
        <li><a>{{ item.link }} - {{item.count}}</a></li>
    {% empty %}
        <li>Nenhum usuário criado.</li>
    {% endfor %}
    </ul>

    <p>Filmes mais populares:</p>
    <ul>
    {% for item in populares_filmes %}
        <li><a>{{ item.link }} - {{item.count}}</a></li>
    {% empty %}
        <li>Nenhum usuário criado.</li>
    {% endfor %}
    </ul>

    <form action="{% url 'crudapp:statistics_page' %}">
        <button type="submit">Voltar</button>
	</form>
</div>
{% endblock %}