{% extends 'crudapp/base_generic.html' %}

{% block title %}<h1>Melhores ratings</h1>{% endblock %}

{% block body %}

<div>
<p>Melhores ratings de artistas:</p>
    <ul>
    {% for item in tabela_music %}
        <li><a>{{ item.link }} - {{item.rating}}</a></li>
    {% empty %}
        <li>Nenhum usuário criado.</li>
    {% endfor %}
    </ul>
</div>
<div>
<p>Melhores ratings de filmes:</p>
    <ul>
    {% for movie in tabela_films %}
        <li><a>{{ movie.link }} - {{movie.rating}}</a></li>
    {% empty %}
        <li>Nenhum usuário criado.</li>
    {% endfor %}
    </ul>


    <form action="{% url 'crudapp:statistics_page' %}">
        <button type="submit">Voltar</button>
	</form>
</div>



{% endblock %}