{% extends 'crudapp/base_generic.html' %}

{% block title %}<h1>Estatísticas</h1>{% endblock %}

{% block body %}

<li><a href="{% url 'crudapp:average_page' %}">Médias e desvios padrão</a></li>
<li><a href="{% url 'crudapp:ratings_page' %}">Melhores ratings</a></li>
<li><a href="{% url 'crudapp:popularity_page' %}">Popularidade das bandas e filmes</a></li>
<!--<li><a href="{% url 'crudapp:conhecidos_page' %}">Operações com conhecidos</a></li>-->

<li><a href="{% url 'crudapp:graphics_page' %}">Gráficos</a></li>

<div>

    <form action="{% url 'crudapp:main_page' %}">
        <button type="submit">Voltar</button>
	</form>
</div>



{% endblock %}