h1 {
    color: lightgray;
    font-family: 'Times New Roman', cursive;
}

.page-header {
    background-color: rgba(	0, 0, 128,1);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

li a {
    color: lightgray;
}

body {background-color:teal}

#options {
    background: rgba(255, 127, 80, 1);

}

#tb_movies{
    background: lightgray;

}

#list_user{
    background: coral;
}


#tb_music{
    background: lightgray;
}
