{% load static %}
{% extends 'crudapp/base_generic.html' %}

{% block title %}Sign Up{% endblock %}

{% block style %}
    <style>
        .sign_tittle{
            display: block;
            font-size: 2em;
            margin-top: 0.67em;
            margin-bottom: 0.67em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }
        .sign_btn{
            font-size: larger;
            padding: 5px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 5px;
            border: solid 1px;
            background-color: #565656;
            color: white;
            margin-right: 50px;
        }
        .sign_btn:hover {
            border: solid 2px black;
            cursor: pointer;
        }
        label{
            font-size: 20px;
        }
        span{
            font-size: 14px;
        }
        input[type="text"],input[type="password"] {
            display: block;
            box-sizing: border-box;
	        -webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	        width: 100%;
	        padding: 8px;
	        border-radius: 6px;
	        -webkit-border-radius:6px;
	        -moz-border-radius:6px;
	        border: 2px solid #fff;
	        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.80);
	        -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.80);
	        -moz-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.80);
        }
        form{
            margin: 1px;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Sign up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign up</button>
    </form>
{% endblock %}
