{% load static %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<script src="{% static 'crudapp/assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'crudapp/assets/js/popper.min.js' %}"></script>
<script src="{% static 'crudapp/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>