{% extends 'crudapp/base_generic.html' %}
{% block title %}<h1>Adicionar Amigos</h1>{% endblock %}

{% block body %}

    <p>Adicionando amigos de {{ user.first_name }}</p>

    <h3>Amigos</h3>
    <ul>
    {% for friend in friends %}
        <li>{{ friend.first_name }} ({{ friend.first_name }})</li>
    {% empty %}
        <li>Você não tem amigos</li>
    {% endfor %}
    </ul>

    <h3>Outros Usuários</h3> <p>(clique para adicionar)</p>
    <ul>
    {% for other_user in not_friends %}
        <li><a href="{% url 'crudapp:add_friend' user.pk other_user.pk %}">{{ other_user.first_name }} ({{ other_user.first_name }})</a></li>
    {% empty %}
        <li>Você é amigo de todas as pessoas cadastradas na rede.</li>
    {% endfor %}
    </ul>

    <form action="{% url 'crudapp:user_page' user.username %}">
        <button type="submit">Voltar</button>
    </form>

{% endblock %}