{% extends 'crudapp/base_generic.html' %}

{% block title %}<h1>Adicionar Música</h1>{% endblock %}

{% block body %}

    <p>Adicionando músicas para o usuário: {{ user.nome }}</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enviar" />
    </form>

    <form action="{% url 'crudapp:user_page' user.username %}">
        <button type="submit">Voltar</button>
    </form>

{% endblock %}