<style>
    .sidenav {
        height: 100%;
        width: 110px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #565656;
        overflow-x: hidden;

    }
    .sidenav a {
        alignment: center;
        padding: 1px 1px 1px 1px;
        text-decoration: none;
        font-size: 25px;
        color: #000000;
        display: block;
    }
    .sidenav a:hover {
        background-color: #000000;
    }

    .Links{
        text-align: center;
        padding-top: 10px;
        font-size: 11.5px;
        color: #ffffff;
        font-family: "Segoe UI",Arial,sans-serif;;
    }
    .btn_link{
        width: auto;
        border: none;
        display: inline;
    }
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
    }
</style>

<div class="sidenav">
    <a class="btn_link" href="{% url 'crudapp:main_page' %}"><p class="Links" ><b>HOME</b></p></a>
    {% if request.user.is_authenticated %}
        <a class="btn_link" href="{% url 'crudapp:user_page' request.user.username %}"><p class="Links" ><b>PÁGINA PESSOAL</b></p></a>
        <a class="btn_link" href="{% url 'crudapp:user_list_page' %}"><p class="Links" ><b>USUÁRIOS</b></p></a>
        <a class="btn_link" href="{% url 'crudapp:statistics_page' %}"><p class="Links" ><b>ESTATÍSTICAS</b></p></a>
    {% endif %}
</div>