{% load static %}

<script type="text/javascript">
    $(function () {
        $(".login-btn").modalForm({formURL: "{% url 'crudapp:login' %}"});
    });
</script>

<style>
    .divTituloPag {
        background-color: #eee;
        height: 100px;
        width: 100%;
    }
    .btn_Login{
        position: relative;
        left: 55px;
    }
    .btn_Logout{
        position: relative;

        left: 55px;
    }
</style>

<div id="titulo-pag" class="divTituloPag">
    <div style="display: inline-block; vertical-align: top; height: 100%; "><a href="{% url 'crudapp:main_page' %}"><img alt="Whatever logo" style="padding: 5px; width: auto; max-height: 100%; " src="{% static 'crudapp/images/whatever logo.jpg' %}"></a></div>
    <div style="display: inline-block; position: relative; left: 0%; top: 25%;"><h2 style=" margin-left: 70px; text-align: center; ">Whatever Social Media</h2></div>
    <div style="display: table; float: right; height: 100%; padding-right: 10px;">
        {% if request.user.is_authenticated %}
            <p style="display: table-cell; position: relative; top: 25%; left: 5%; font-weight: bold;">Bem vind@, {{ request.user.first_name }}!</p>
            <form action="{% url 'crudapp:logout' %}" style="display: table-cell; position: relative; top: 25%;">
                <button class="botaoPadrao btn_Logout" style="margin-right: 50px;" ><b>Logout</b></button>
            </form>
        {% else %}
            <button class="login-btn botaoPadrao btn_Login" style="margin-right: 50px; margin-top: 25%;"  type="submit" name="button">Log in</button>
        {% endif %}
    </div>
</div>

