<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'crudapp/assets/css/bootstrap.min.css' %}">
    <!--<link rel="stylesheet" href="{% static 'assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">-->
    <!--<link rel="stylesheet" type = "text/css" href="{% static 'crudapp/assets/css/crudapp.css' %}">-->
    <meta charset="UTF-8">
    <title>{% block page_title %}Whatever Social Media{% endblock %}</title>

    <style>
        .error_message {
            color: red;
            font-weight: bold;
        }
        .main {
            margin-left: 110px;
        }
        .full_page{
            background-color: lightgrey;
        }
        .main_body {
            margin-left: 50px;
        }
        .botaoPadrao{
            font-size: 15px;
            padding: 5px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 5px;
            border: solid 1px black;
            background-color: #565656;
            color: white;
        }
        .botaoPadrao:hover{
            border: solid 1px black;
            background-color: black;
            cursor: pointer;
        }
    </style>
    {% block style %}
    {% endblock %}

    <script type="text/javascript">
        $(function () {
            $(".upd").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            });
            $(".delete-btn").each(function () {
                $(this).modalForm({formURL: $(this).data('id')});
            })
        });
    </script>
    {% block script %}
    {% endblock %}

    {% block head %}
    {% endblock %}
</head>

<body class="full_page">
    {% include "crudapp/_modal.html" %}
    {% include "crudapp/barra_lateral.html" %}
    <div class="main">
        {% include "crudapp/barra_superior.html" %}
        <div class="main_body">
            {% block title %}{% endblock %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <li class="error_message">{{ message }}</li>
                        {% else %}
                            <li>{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>