<!--{% extends 'crudapp/base_generic.html' %}-->

<!--{% block title %}<h1>Operações com conhecidos</h1>{% endblock %}-->

<!--{% block body %}-->

<!--Par de pessoas com mais filmes em comum: <br>-->
<!--{% for result in users_films %}-->
    <!--{{ result.nome }} <br>-->
<!--{% endfor %}-->
<!--<br>-->


<!--Número de pessoas Conhecidas dos Conhecidos do Alan: {{ conhecidos_conhecidos_A }} <br>-->
<!--Número de pessoas Conhecidas dos Conhecidos da Carol: {{ conhecidos_conhecidos_C }} <br>-->
<!--Número de pessoas Conhecidas dos Conhecidos do Jordão: {{ conhecidos_conhecidos_J }} <br>-->

<!--<br>-->


    <!--<form action="{% url 'crudapp:statistics_page' %}">-->
        <!--<button type="submit">Voltar</button>-->
	<!--</form>-->
<!--</div>-->



<!--{% endblock %}-->