{% extends 'crudapp/form_user.html' %}

{% block title %}<h1>Editando informações de {{ user.first_name }}</h1>{% endblock %}

{% block style %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block more_options %}
{% endblock %}

{% block voltar %}
    <form action="{% url 'crudapp:user_page' user.username %}">
        <button type="submit">Voltar</button>
    </form>
{% endblock %}