{% extends 'crudapp/base_generic.html' %}

{% block title %}<h1>Lista de Usuários</h1>{% endblock %}

{% block body %}
    <p>Clique em um nome para visualizar o perfil.</p>
    <div id="options">
    <ul id="list_user">
    {% for user in object_list %}
        <li><a href="{% url 'crudapp:user_page' user.username %}">{{ user.username }}</a></li>
    {% empty %}
        <li>Nenhum usuário criado.</li>
    {% endfor %}
    </ul>
    </div>
    <form action="{% url 'crudapp:main_page' %}">
        <button type="submit">Voltar</button>
	</form>

{% endblock %}