{% extends 'crudapp/base_generic.html' %}
{% load static %}
{% load template_tags %}

{% block head %}
{% endblock %}

{% block style %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
        .profilePic {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            max-width: 60%;
        }
    </style>
{% endblock %}

{% block title %}
<div class="page-header">
    {% if not request.user.is_authenticated %}
        <h1></h1>
    {% else %}
        <h1>Recomendações para você</h1>
    {% endif %}
</div>
{% endblock %}




{% block body %}
    <div id="options">
        <ul>
            {% if not request.user.is_authenticated %}
                <div style="display: inline-block; vertical-align: top; height: 100%; "><a href="{% url 'crudapp:new_user_page' %}"><img alt="Cadastro" style="padding: 5px; width: auto; max-height: 100%; " src="{% static 'crudapp/images/main_page.png' %}"></a></div>
            {% else %}

                <div class="row">
                    <div class="col-sm-4">
                        <h4>Filmes</h4>
                        {% for movie in movie_recommendations %}
                            <div id="wrapImg" style="width: 100%; display: inline-block; position: relative;vertical-align: top;">
                                <div id="MoviePicContainer" style="padding: 20px">
                                    <a href="{% url 'crudapp:add_movie_page' user.pk movie.pk %}">
                                        <figure>
                                            <img class="moviePic" src="{{ movie.img_link }}">
                                        </figure>
                                        <figcaption>{{ movie.nome }}</figcaption>
                                    </a>
                                </div>
                            </div>
                        {% empty %}
                            <p>Nenhuma recomendação no momento.</p>
                        {% endfor %}
                    </div>

                    <div class="col-sm-4">
                        <h4>Músicas</h4>
                        {% for music in music_recommendations %}
                            <div id="wrapImg2" style="width: 100%; display: inline-block; position: relative;vertical-align: top;">
                                <div id="MusicPicContainer" style="padding: 20px">
                                    <a href="{% url 'crudapp:add_music_page' user.pk music.pk %}">
                                        <figure>
                                            <img class="musicPic" src="{{ music.img_link }}">
                                        </figure>
                                        <figcaption>{{ music.nome }}</figcaption>
                                    </a>
                                </div>
                            </div>
                        {% empty %}
                            <p>Nenhuma recomendação no momento.</p>
                        {% endfor %}
                    </div>
                </div>

            {% endif %}

         </ul>
    </div>

{% endblock %}


