{% extends 'crudapp/base_generic.html' %}

{% block title %}<h1>Página de {{ user.first_name }}</h1>{% endblock %}

{% block style %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
        .profilePic {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            max-width: 60%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        {% if user.profile_pic %}
            <div class="col-sm-4">
                <div id="wrapImg" style="width: 100%; display: inline-block; position: relative;vertical-align: top;">
                    <div id="profilePicContainer" style="padding: 20px">
                        <a target="_blank" href="{{ user.profile_pic.url }}">
                            <figure>
                                <img class="profilePic" src="{{ user.profile_pic.url }}" alt="{{ user.username }}">
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-sm-4">
            <h3>Filmes adicionados</h3>
            {% if movie_list %}
                <table id="tb_movies">
                    <tr align="center">
                        <th>Nome do Filme</th>
                        <th>Gênero</th>
                        <th>Diretor</th>
                        <th>Nota</th>
                    </tr>
                    {% for movie in movie_list %}
                    <tr>
                        <td align="center">{{ movie.nome }}</td>
                        <td align="center">{{ movie.genero }}</td>
                        <td align="center">{{ movie.diretor }}</td>
                        <td align="center">{{ movie.rating }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                {% if user.pk == request.user.pk %}
                <p>Você não adicionou filmes.</p>
                {% else %}
                <p>O usuário não tem filmes adicionados.</p>
                {% endif %}
            {% endif %}
            <br>
            {% if user.pk == request.user.pk %}
                <form action="{% url 'crudapp:add_movie_page' user.pk %}">
                    <button type="submit">Adicionar Filme</button>
                </form>
            {% endif %}
        </div>

        <div class="col-sm-4">
            <h3>Artistas adicionados</h3>
            {% if music_list %}
            <table id="tb_music">
                <tr align="center">
                    <th>Nome do artista</th>
                    <th>Nota</th>
                </tr>
                {% for music in music_list %}
                <tr>
                    <td align="center">{{ music.nome }}</td>
                    <td align="center">{{ music.rating }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                {% if user.pk == request.user.pk %}
                <p>Você não adicionou artistas.</p>
                {% else %}
                <p>O usuário não tem artistas adicionados.</p>
                {% endif %}
            {% endif %}
            <br>
            {% if user.pk == request.user.pk %}
                <form action="{% url 'crudapp:add_music_page' user.pk %}">
                    <button type="submit">Adicionar Artista</button>
                </form>
            {% endif %}
            <br>
            <!--<h3>Recomendações</h3>-->
            <!--<table id="tb_recommended">-->
                <!--<tr align="center">-->
                    <!--<th>Recomendação</th>-->
                <!--</tr>-->
                <!--{% for music in recommended_list %}-->
                <!--<tr>-->
                    <!--<td align="center">{{ music }}</td>-->
                <!--</tr>-->
                <!--{% endfor %}-->
            <!--</table>-->
        </div>
    </div>
    <br>

    {% if user.pk == request.user.pk %}
        <form action="{% url 'crudapp:add_friend_page' user.pk %}">
            <button type="submit">Adicionar Amigo</button>
        </form>
        <br>

        <form action="{% url 'crudapp:edit_user_page' user.pk %}">
            <button type="submit">Editar Informações da Conta</button>
        </form>
        <br>

        <form action="{% url 'crudapp:delete_user_page' user.pk %}">
            <button type="submit">Apagar Conta</button>
        </form>
        <br>
    {% endif %}

{% endblock %}

{% block voltar %}
<form action="{% url 'crudapp:user_list_page' %}">
    <button type="submit">Voltar</button>
</form>
{% endblock %}