{% extends 'crudapp/base_generic.html' %}

{% block title %}<h1>Deletar Usuário</h1>{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        <p>Tem certeza que deseja deletar sua conta?</p>
        <input type="submit" value="Deletar">
    </form>

    <form action="{% url 'crudapp:edit_user_page' user.pk %}">
        <button type="submit">Voltar</button>
    </form>
{% endblock %}